<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Bienvenido al Sistema de Vacunas Vaccmed <%= @user.username %>!</p>
<p>
  Detalles de la cuenta<br>
  --------------------------
</p>
<p>Name: <%= @user.username %></p>
<p>Email: <%= @user.email %></p>
<p>Tratamiento: <%= @user.role.description %></p>
<p>Password: <%= @user.password %></p>

</body>
</html>


